/* E.g. Style Guide: https://google.github.io/styleguide/htmlcssguide.xml */


/**
 * Your main styles at the top apply to the smallest screen/viewport,
 * e.g. width of 320px, or anything less than the following breakpoint.
 * Ordering the breakpoints in this way, smallest to biggest, is loosely
 * called a "mobile-first" approach to responsive design. The CSS targets
 * the "mobile" device sizes first, then overridden on larger devices.
 */

* { 
    box-sizing: border-box;
    text-align: center;
}

header span.img {
    display: block;
    background-color: red;
    padding: 5px;
}

header #menu ul li  {
    list-style-type: none;
    background-color: orange;
    padding: 5px;
}

article {
    list-style-type: none;
    background-color: blue;
    padding: 5px;
    display: block;
    margin: 1% 0 1% 1.6%;
}

footer {
    list-style-type: none;
    background-color: green;
    padding: 5px;
}






/**
 * This is our first breakpoint!
 * If you increase the viewport (your browser window) size from 479px to 480px,
 * (e.g. depending on the mobile phone size, perhaps changing the orientation
 * of the phone to horizontal will trigger this breakpoint).
 * Note: there is no "upper limit" in this breakpoint, so any styles in other
 * following breakpoints after this could override this one.
 */

@media screen and (min-width: 480px) {

    /**
     * Tip! Since we need floating columns, we can apply the floats here
     * and also the self-clearing container trick.
     * Incase you're wondering `::after` is a pseudo element:
     * http://www.w3schools.com/CSSref/sel_after.asp
     */

    section::after {
        clear: both;
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }
    
    article:first-child { margin-left: 0; }

    section article {
        float: left;
        width: 49%;
    }

    /* Re-style here... */
    
}


/* We're skipping a lot of possible breakpoints here ... */


/**
 * At 1280px viewport width, any styles declared in this breakpoint will
 * override previous styles with matching signatures.
 */

@media screen and (min-width: 1280px) {
    /* Re-style here, if necessary! You may want to use the same technique
	 * used in section::after for the header*/

    header .img {
        float: left;
        width: 25%;
    }

    section article {
        height: 150px;
    }

    header #menu ul li {
        display: inline-block;
        display: -moz-inline-box;
        *display: inline; /* For IE7 */
        zoom: 1; /* Trigger hasLayout */
        width: 25%;
        text-align: center;
    }


}
